.app{
  position: relative;
}


@font-face {
  src: url(./assets/fonts/Montserrat-Light.ttf);
  font-family: Montserrat-Light;
}
@font-face {
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
  font-family: Montserrat-SemiBold;
}
